<div id="index_banner" class="bannerContainer">
    <div class="bannerItem">
        <div class="bannerItemContainer">
            <div class="bannerItemDesc">
                <div class="bannerItemDescTitle">韓國專櫃 明星產品</div>
                <div class="bannerItemDescSubtitle">抓住美麗的方式 妝前御用<br />輕薄透氣 無負擔</div>
                <div class="bannerItemDescMore"><a href="#">了解更多</a></div>
            </div>
        </div>
    </div>
</div>
<script>
    function drncdBannerInitialize() {
    }
</script>