<div id="index_company" class="carousel slide companyContainer" data-ride="carousel" data-interval="false">
  <div class="carousel-inner company-inner" rol="listbox">
    <div id="company-story" class="item active company-inner">
      <div class="index-area-title">Dr.NCD的品牌故事</div>
      <div class="company-content row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="company-story-descpanel">
                <div class="csdp-main-icon">
                    <img class="img-circle" src="assets/images/company-story-1.png" />
                </div>
                <div class="csdp-main-text">
                    Linda女士曾因肌肤问题而深受困扰。以前的她认为护肤品就是“只买贵的就对了”，直到皮肤医生告诉她得了激素过敏性皮炎…
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="company-story-descpanel">
                <div class="csdp-main-icon">
                    <img class="img-circle" src="assets/images/company-story-2.png" />
                </div>
                <div class="csdp-main-text">
                    Linda女士曾因肌肤问题而深受困扰。以前的她认为护肤品就是“只买贵的就对了”，直到皮肤医生告诉她得了激素过敏性皮炎…
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="company-story-descpanel">
                <div class="csdp-main-icon">
                    <img class="img-circle" src="assets/images/company-story-3.png" />
                </div>
                <div class="csdp-main-text">
                    Linda女士曾因肌肤问题而深受困扰。以前的她认为护肤品就是“只买贵的就对了”，直到皮肤医生告诉她得了激素过敏性皮炎…
                </div>
            </div>
        </div>
      </div>
      <div id="company-to-development" class="company-right">
        <a href="#index_company" data-slide="next">查<br />看<br />品<br />牌<br />发<br />展</a>
      </div>
      <div class="company-more">
        <a id="company-story-more" href="#">
            了解更多 ▶︎
        </a>
      </div>
    </div>
    <div id="company-development" class="item company-inner">
      <div class="index-area-title">Dr.NCD的品牌发展</div>
      <div class="company-content">
        <img class="img-responsive" src="assets/images/company_development.png" />
      </div>
      <div id="company-to-story" class="company-left">
        <a href="#index_company" data-slide="prev">查<br />看<br />品<br />牌<br />故<br />事</a>
      </div>
      <div class="company-more">
        <a id="company-story-more" href="#">
            了解更多 ▶︎
        </a>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/configs/index-company-config.js"></script>
<script>
    function drncdCompanyInitialize() {
        $("#company-to-development").fadeOut(0);
        $("#company-story").mousemove(function(event) {
            if ( $("#company-to-development").is(":visible") ) return;
            if ( $(this).width() - event.pageX < $("#company-to-development").width() ) {
                $("#company-to-development").fadeIn('fast');
            }
        });
        $("#company-to-development").mouseleave(function(event) {
            $(this).fadeOut('fast');
        });
        $("#company-to-story").fadeOut(0);
        $("#company-development").mousemove(function(event) {
            if ( $("#company-to-story").is(":visible") ) return;
            if ( event.pageX < $("#company-to-story").width() ) {
                $("#company-to-story").fadeIn('fast');
            }
        });
        $("#company-to-story").mouseleave(function(event) {
            $(this).fadeOut('fast');
        });
    }
</script>