<div class="footerContainer">
    <div class="footerPanel">
        <div class="footerUpPanel row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 footerLogoPanel">
                <img src="assets/images/drncd-logo.png" />
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div id="footerSocialPanel" class="footerSocial row">
                </div>
                <div class="footerSubscriber">
                    <form name="drncdSubscribe">
                        <input type="text" placeholder="请输入您的邮箱地址"/>
                        <button type="submit" class="btn btn-default">订阅</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footerDownPanel row">
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-2">
                <a id="footer_csnumber" href="tel:800-800-8888">
                    客服电话: 800-800-8888
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-2">
                <a id="footer_hlnumber" href="tel:021-88888888">
                    热线电话: 021-88888888
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-2">
                <a href="/privacy/">隐私申明</a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-2">
                <a href="/cookies/">Cookies政策</a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-2">
                <a href="/terms/">使用条款</a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-2">
                <a id="footer_icp" href="http://www.miibeian.gov.cn/">
                    沪ICP备00000000号-00
                </a>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/configs/footer-config.js"></script>
<script src="assets/js/controllers/footer.js"></script>