<div id="index_hotnews" class="index-hotnews-container">
    <div class="index-area-title">Dr.NCD与媒体</div>
    <div id="news-container" class="news-container row"></div>
</div>
<script src="assets/js/controllers/newsgroup.js"></script>
<script src="assets/js/configs/index-hotnews-config.js"></script>
<script>
    function drncdHotNewsInititalize() {
        // try to get top 3 hot news, and change the news data.
        var _topPost = drncdPostGroupCreateTopPost(drncd_data_hotnews[0]);
        _topPost.appendTo($("#news-container"));

        if ( 
            drncd_data_hotnews[1].promote_image === undefined ||
            drncd_data_hotnews[1].promote_image == "" ||
            drncd_data_hotnews[1].promote_image == null
            ) {
            var _imgPost1 = drncdPostGroupCreateTextPost(drncd_data_hotnews[1]);
            _imgPost1.appendTo($("#news-container"));            
        } else {
            var _imgPost1 = drncdPostGroupCreateImagePost(drncd_data_hotnews[1]);
            _imgPost1.appendTo($("#news-container"));            
        }
        if ( 
            drncd_data_hotnews[2].promote_image === undefined ||
            drncd_data_hotnews[2].promote_image == "" ||
            drncd_data_hotnews[2].promote_image == null
            ) {
            var _imgPost2 = drncdPostGroupCreateTextPost(drncd_data_hotnews[2]);
            _imgPost2.appendTo($("#news-container"));            
        } else {
            var _imgPost2 = drncdPostGroupCreateImagePost(drncd_data_hotnews[2]);
            _imgPost2.appendTo($("#news-container"));            
        }
    }
</script>
