<nav class="navbar navbar-default drncdNav navbar-static-top">
  <div class="container-fluid drncdNavContent">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="navLogo" class="drncdLogo" href="index.html"></a>
    </div>

    <div id="menuBar" class="drncdMainMenuPanel">
        <div class="drncdFunctionalBar">
            <div class="func-item">
                <form>
                    <input type="text" placeholder="搜索我们的产品、服务">
                    <button type="submit" class="btn btn-default"></button>
                </form>
            </div>
            <div class="func-item">
                <a target="_blank" href="https://drncd.tmall.com/">
                    <img alt="shop icon" src="assets/images/shop-icon.png" />
                    <span>购买</span>
                </a>
            </div>
            <div class="func-item">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <img alt="lang icon" src="assets/images/lang-chinese.png" />
                        <span>中文</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu drncdLangDropMenu" role="menu">
                        <li>
                            <a href="#">
                                <img alt="chinese" src="assets/images/lang-chinese.png" />
                                <span>中文</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="chinese" src="assets/images/lang-korean.png" />
                                <span>한국어</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="chinese" src="assets/images/lang-english.png" />
                                <span>English</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="func-item">
                <a href="#" id="drncd_login">
                    <img alt="login icon" src="assets/images/login-icon.png" />
                    <span>登录</span>
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse drncdMenu" id="mainNavBar">
            <ul class="nav navbar-nav" id="drncdMainMenu">
            </ul>
        </div>
        <div id="menuIndicator" class="menuIndicator"></div>
        <div id="submenuPanel" class="submenuPanel">
            <div class="submenuContainer">
                <div class="submenuLevel2" id="submenuLevel2">
                </div>
                <div class="submenuLevel3" id="submenuLevel3">
                </div>
            </div>
        </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

{% include login.html %}

<script src="assets/js/configs/main-menu-config.js"></script>
<script src="assets/js/controllers/nav.js"></script>