<div id="index_topproduct" class="index-topproduct-container">
    <div class="index-area-title">Dr.NCD的热销产品</div>
    <div class="topproduct-container row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <a id="topproduct-link" href="#">
                <div class="row product">
                    <div id="topproduct-imagediv" class="col-lg-8 col-md-8 col-xs-6 col-sm-6 product-main-image">
                    </div>
                    <div id="topproduct-detail" class="col-lg-4 col-md-4 col-xs-6 col-sm-6 product-main-detail">
                    </div>
                </div>
            </a>
        </div>
        <div id="topproduct-subitem1-container" class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
            <a id="topproduct-subitem1-link" href="#">
                <div id="topproduct-subitem1" class="product product-category">
                </div>
                <div id="topproduct-subitem1-tag" class="product-category-tag">
                </div>
            </a>
        </div>
        <div id="topproduct-subitem2-container" class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
            <a id="topproduct-subitem2-link" href="#">
                <div id="topproduct-subitem2" class="product product-category">
                </div>
                <div id="topproduct-subitem2-tag" class="product-category-tag">
                </div>
            </a>
        </div>
        <div id="topproduct-subitem3-container" class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
            <a id="topproduct-subitem3-link" href="#">
                <div id="topproduct-subitem3" class="product product-category">
                </div>
                <div id="topproduct-subitem3-tag" class="product-category-tag">
                </div>
            </a>
        </div>
        <div id="topproduct-subitem4-container" class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
            <a id="topproduct-subitem4-link" href="#">
                <div id="topproduct-subitem4" class="product product-category">
                </div>
                <div id="topproduct-subitem4-tag" class="product-category-tag">
                </div>
            </a>
        </div>
    </div>
</div>
<script src="assets/js/configs/index-topproduct-config.js"></script>
<script>
    function drncdTopProductInitialize() {
        for ( var i = 0; i < 4; ++i ) {
            $("#topproduct-subitem" + (i + 1) + "-container").mouseenter(function(event) {
                var _id = $(this).attr("id").substring(0, 20) + "tag";
                $("#" + _id).fadeIn('fast');
            }).mouseleave(function(event) {
                var _id = $(this).attr("id").substring(0, 20) + "tag";
                $("#" + _id).fadeOut('fast');
            });
        }

        // Set top
        $("#topproduct-link").attr("href", drncd_data_topproducts["top"].url);
        $("#topproduct-imagediv").css("background-image", "url(\'" + drncd_data_topproducts["top"].image + "\')");
        $("#topproduct-detail").html(drncd_data_topproducts["top"].detail);

        for ( var i = 0; i < 4; ++i ) {
            var _subitem = drncd_data_topproducts["subitems"][i];
            $("#topproduct-subitem" + (i + 1) + "-link").attr("href", _subitem.url);
            $("#topproduct-subitem" + (i + 1)).css("background-image", "url(\'" + _subitem.image + "\')");
            $("#topproduct-subitem" + (i + 1) + "-tag").html(_subitem.title);
        }
    }
</script>