---
--- 

// DrNCD Main Official Site SASS
$drncd_color_dark:          #515251;
$drncd_color_gray:          #878787;
$drncd_color_blue:          #92B1D6;
$drncd_color_pink:          #E095B0;
$drncd_color_green:         #B8E986;
$drncd_color_lightgreen:    #EEF7F7;
$drncd_color_lightblue:     #EAF2F4;
$drncd_color_lightwhite:    #F6F8FA;
$drncd_color_lightgray1:    #EAEAEA;
$drncd_color_lightgray2:    #F2F2F2;

$enable-rounded: false;
$border-radius-base: 0px;
$link-color: $drncd_color_dark;
$font-family-base: "PingFang SC", "Microsoft YaHei", "SimSun", 
                   "Helvetica Neue", Helvetica, Arial, sans-serif;

@import 'bootstrap';

// Override modal
.modal-backdrop {
  background-color: #fff; }
  .modal-backdrop.in {
    opacity: 0.75;
    filter: alpha(opacity=75); }

.drncdNav {
    height: 48px;
    background-color: white;
    border-bottom: 1px solid $drncd_color_lightgray1;
    @media (min-width: 768px) {
        height: 120px;
    }
}
.drncdNavContent {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    @media(min-width: 768px) {
        max-width: 1280px;
        min-width: 1280px;
    }
}

.drncdMainMenuPanel {
    @media(min-width: 768px) {
        height: 120px;
        position: relative;
        float: right;
    }
}
.drncdLogo {
  position: relative;
  float: left;
  margin-left: 15px;
//   padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: url('images/drncd-logo-small.png');
  background-size: 48px 32px;
  background-repeat: no-repeat;
  width: 48px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 0px; 
}
@media (min-width: 768px) {
    .drncdLogo {
        // 198*64
        width: 198px;
        height: 64px;
        margin-top: 28px;
        margin-bottom: 28px;
        background-image: url('images/drncd-logo.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    } 
}

.drncdFunctionalBar {
    display: none;
    background-color: transparent;
    background-size: 100% 100%;
    position: relative;
    float: right;
    font-weight: lighter;

    @media(min-width: 768px) {
        display: inline;
        margin-left: 15px;
        height: 32px;
        line-height: 32px;
        margin-top: 16px;

        .func-item {
            position: relative;
            float: right;
            margin-left: 20px;
            padding: 0px;
        }
        .func-item form {
            border: 1px solid $drncd_color_lightgray1;
            margin-top: -1px;
        }
        .func-item input {
            height: 32px;
            width: 202px;
            font-size: 13px;
            border: 1px solid transparent;
        }
        .func-item button {
            margin-left: 8px;
            margin-right: 8px;
            width: 32px;
            height: 32px;
            background-image: url('images/search-icon.png');
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid transparent;
            margin-top: 0px;
        }
        .func-item span {
            margin-left: 8px;
        }
        .func-item img {
            margin-left: 5px;
        }
    }
}
.drncdLangDropMenu {
    min-width: 120px;
}
.drncdLangDropMenu > li > a {
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.drncdMenu {
    background-color: white;
    text-align: center;
    @media(min-width: 768px) {
        font-size: 16px;
        font-weight: bold;
        margin-top: 60px;
        margin-right: 212px;
        background-color: transparent;
    }
}
.drncdMenu a {
    margin-left: 0px;
    @media(min-width: 768px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}
.menuIndicator {
    display: none; 
    @media(min-width: 768px) {
        display: inline;
        width: 45px;
        height: 4px;
        background-color: $drncd_color_pink;
        position: relative;
        float: left;
        margin-top: -5px;
    }
}
.submenuPanel {
    display: none;
    width: 100%;
    height: 230px;
    z-index: 999;
    background: rgba(251215, 255, 255, 0.75);
    position: fixed;
    top: 120px;
    left: 0px;
    border-bottom: 1px solid $drncd_color_lightgray1;
    // @media(min-width: 768px) {
    //     display: block;
    // }
}
.submenuContainer {
    display: none;
    width: 1280px;
    height: 190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    @media(min-width: 768px) {
        display: block;
    }
}
.submenuLevel2 {
    width: 50%;
    height: 190px;
    position: relative;
    float: left;
    background-color: transparent;
    border-right: 1px solid $drncd_color_lightgray1;
}
.submenuLevel3 {
    width: 50%;
    height: 190px;
    position: relative;
    float: right;
    background-color: transparent;
}
.menulv2 {
    position: relative;
    float: right;
    margin-right: 100px;
    text-align: center;
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
}
.menulv2 > li > a {
    color: $drncd_color_dark;
    line-height: 20px;
    display: block;
    background-color: transparent;
}
.menulv2 > li > a:hover {
    color: $drncd_color_pink;
    text-decoration: none;
}
.menulv2Active {
    color: $drncd_color_pink;
}
.menulv2 > li > a:selected {
    color: $drncd_color_pink;
}
.menulv2_1 {
    margin-top: 65px;
    margin-bottom: 65px;
    li > a {
        height: 60px;
        line-height: 60px;
        display: block;
    }
}
.menulv2_2 {
    margin-top: 35px;
    margin-bottom: 35px;
    li > a {
        height: 60px;
        line-height: 60px;
        display: block;
    }
}
.menulv2_3 {
    margin-top: 5px;
    margin-bottom: 5px;
    li > a {
        height: 60px;
        line-height: 60px;
        display: block;
    }
}
.menulv2_4 {
    margin-top: 5px;
    margin-bottom: 5px;
    li > a {
        height: 45px;
        line-height: 45px;
        display: block;
    }
}
.menulv2_5 {
    margin-top: 15px;
    margin-bottom: 15px;
    li > a {
        height: 32px;
        line-height: 32px;
        display: block;
    }
}
.menulv2_6 {
    margin-top: 5px;
    margin-bottom: 5px;
    li > a {
        height: 30px;
        line-height: 30px;
        display: block;
    }
}
.menulv2img {
    position: relative;
    float: left;
    margin-left: 110px;
    width: 410px;
    height: 190px;
}
.menulv3_container {
    position: relative;
    background-color: transparent;
    width: 380px;
    height: 190px;
    margin-left: 110px;
    display: none;
}
.menulv3_container > table {
    width: 100%;
    height: 100%;
}
.menulv3_container > table td {
    width: 95px;
    height: 95px;
}
.menulv3_container > table td > div {
    position: relative;
    width: 100%;
    height: 100%;
}
.menulv3_container > table td img {
    width: 100%;
    height: 100%;
}
.menulv3_container > table td > div > div {
    position: absolute;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 100;
    background: rgba(121, 122, 121, 0.55);
    width: 95px;
    height: 95px;
    display: none;
    line-height: 95px;
    text-align: center;
}
.menulv3_container > table td > div > div > a {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 95px;
    width: 95px;
    height: 95px;
    text-align: center;
}

.footerContainer {
    width: 100%;
    border-top: 1px solid $drncd_color_lightgray1;
    display: inline-block;
    .footerPanel {
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        @media(min-width: $screen-xs-min) {
            max-width: $screen-xs-min;
        }
        @media(min-width: $screen-sm-min) {
            max-width: $screen-sm-min;
        }
        @media(min-width: $screen-md-min) {
            max-width: $screen-md-min;
        }
        @media(min-width: $screen-lg-min) {
            max-width: 1280px;
        }
        width: 100%;
        .footerUpPanel {
            width: 100%;
            border-bottom: 1px solid $drncd_color_gray;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0px;
            @media(min-width: $screen-md-min) {
                display: flex;
                align-items: center;
            }
            .footerLogoPanel {
                height: 100%;
                text-align: center;
                img {
                    display: inline-block;
                    margin: 0 auto;
                }
                @media(min-width: $screen-sm-min) {
                    text-align: center;
                    img {
                        margin: 0 auto;
                    }
                }
                @media(min-width: $screen-md-min) {
                    border-right: 1px solid $drncd_color_gray;
                    text-align: right;
                    img {
                        margin-right: 20px;
                    }
                }
                @media(min-width: $screen-lg-min) {
                    border-right: 1px solid $drncd_color_gray;
                    text-align: right;
                    img {
                        margin-right: 20px;
                    }
                }
            }
            .footerSocial {
                height: 40px;
                width: 100%;
                margin-left: 0px;
                margin-top: 20px;
                > div {
                    display: block;
                    padding: 0px;
                    text-align: center; 
                    a { 
                        width: 40px; 
                        height: 40px; 
                        display: block; 
                        line-height: 40px; 
                        margin-left: auto;
                        margin-right: auto;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                @media(min-width: $screen-sm-min) {
                    margin-left: 0px;
                }
                @media(min-width: $screen-md-min) {
                    margin-top: 0px;
                    margin-left: 20px;
                }
            }
            .footerSubscriber {
                height: 40px;
                width: 100%;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                input {
                    width: 192px;
                    border: 1px solid $drncd_color_lightgray1;
                    height: 32px;
                    font-size: 13px;
                };
                button {
                    width: 80px;
                    height: 32px;
                    border: 1px solid $drncd_color_lightgray1;
                    font-size: 13px;
                    color: $drncd_color_gray;
                }
                @media(min-width: $screen-md-min) {
                    text-align: left;
                    margin-left: 30px;
                    input {
                        width: 200px;
                    }
                    button {
                        width: 128px;
                    }
                }
            }
        }
        .footerDownPanel {
            height: 40px;
            width: 100%;
            margin: 0px;
            div {
                text-align: center;
                line-height: 40px;
            }
        }
    }
}

.bannerContainer {
    height: 600px;
    width: 100%;
    display: block;
    background-color: white;
    margin-top: -20px;
}

.bannerItem {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url('images/banner_template.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerItemContainer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 600px;
    display: block;
}
.bannerItemDesc {
    //background: rgba(121, 122, 121, 0.55);
    width: 420px;
    height: 600px;
    display: block;
    margin-left: 150px;
}
.bannerItemDescTitle {
    font-size: 36px;
    font-weight: 450;
    position: relative;
    float: left;
    margin-top: 100px;
    width: 100%;
}
.bannerItemDescSubtitle {
    font-size: 20px;
    font-weight: 350;
    position: relative;
    float: left;
    margin-top: 20px;
    width: 100%;
}
.bannerItemDescMore {
    width: 180px;
    height: 40px;
    bottom: 160px;
    background-color: $drncd_color_pink;
    text-align: center;
    line-height: 40px;
    position: absolute;
    a, a:hover {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }
}
.bannerItemXsImg {
    display: block;
    @media(min-width: $screen-lg-min) {
        display: none;
    }
}
.index-area-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    @media(min-width: $screen-md-min) {
        font-weight: 600;
        font-size: 22px;
        height: 110px;
        line-height: 110px;
    }
}

.companyContainer {
    background: url('images/gridbg.png');
    height: 600px;
    width: 100%;
    display: block;
}
.company-inner {
    height: 100%;
    width: 100%;
}
.company-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media(min-width: $screen-xs-min) {
        max-width: $screen-xs-min;
    }
    @media(min-width: $screen-sm-min) {
        max-width: $screen-sm-min;
    }
    @media(min-width: $screen-md-min) {
        max-width: $screen-md-min;
    }
    @media(min-width: $screen-lg-min) {
        max-width: 1280px;
    }
    height: 380px;
    margin: auto;
    text-align: center;
    background-color: transparent;
    display: block;
}
.company-right {
    position: absolute;
    right: 0px;
    width: 64px;
    top: 0px;
    height: 600px;
    display: table;
    a, a:hover {
        font-size: 18px;
        font-weight: 550;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $drncd_color_dark;
        text-decoration: none;
        float: none;
    }
}
.company-story-descpanel {
    width: 280px;
    margin: auto;
    height: 386px;
    background-color: white;
    .csdp-main-icon {
        width: 100%;
        height: 200px;
        background-color: $drncd_color_lightblue;
        img {
            width: 164px;
            height: 164px;
            margin: auto;
            margin-top: 18px;
        }
    }
    .csdp-main-text {
        width: 200px;
        margin: auto;
        margin-top: 30px;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: justify;
    }
}
.company-more {
    width: 165px;
    height: 48px;
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    text-align: center;
    line-height: 48px;
    a, a:hover {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
}
.company-left {
    position: absolute;
    left: 0px;
    width: 64px;
    top: 0px;
    height: 600px;
    display: table;
    a, a:hover {
        font-size: 18px;
        font-weight: 550;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $drncd_color_dark;
        text-decoration: none;
        float: none;
    }
}

.index-hotnews-container {
    width: 100%;
    display: block;
    background-color: $drncd_color_lightwhite;
    padding-bottom: 10px;
    //padding-bottom: 64px;
    @media(min-width: $screen-md-min) {
        padding-bottom: 20px;
    }
}
.index-topproduct-container {
    width: 100%;
    display: block;
    background: url('images/gridbg.png');
    padding-bottom: 10px;
    //padding-bottom: 64px;
    @media(min-width: $screen-md-min) {
        padding-bottom: 20px;
    }
}
.news-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media(min-width: $screen-xs-min) {
        max-width: $screen-xs-min;
    }
    @media(min-width: $screen-sm-min) {
        max-width: $screen-sm-min;
    }
    @media(min-width: $screen-md-min) {
        max-width: $screen-md-min;
    }
    @media(min-width: $screen-lg-min) {
        max-width: 1280px;
    }
    overflow: hidden;
    .news { 
        height: 300px; 
        overflow: hidden;
        -webkit-transition: all 150ms ease-in;
        -webkit-transform: scale(0.98); 
        -ms-transition: all 150ms ease-in;
        -ms-transform: scale(0.98); 
        -moz-transition: all 150ms ease-in;
        -moz-transform: scale(0.98);
        transition: all 150ms ease-in;
        transform: scale(0.98);
        @media(min-width: $screen-md-min) {
            height: 492px;
        }
    }
    @media(min-width: $screen-md-min) {
        .news:hover
        {
            z-index: 2;
            -webkit-transition: all 150ms ease-in;
            -webkit-transform: scale(1);
            -ms-transition: all 150ms ease-in;
            -ms-transform: scale(1);   
            -moz-transition: all 150ms ease-in;
            -moz-transform: scale(1);
            transition: all 150ms ease-in;
            transform: scale(1);
        }
    }
    .news-top { 
        height: 300px; 
        overflow: hidden;
        -webkit-transition: all 150ms ease-in;
        -webkit-transform: scale(0.98); 
        -ms-transition: all 150ms ease-in;
        -ms-transform: scale(0.98); 
        -moz-transition: all 150ms ease-in;
        -moz-transform: scale(0.98);
        transition: all 150ms ease-in;
        transform: scale(0.98);
        @media(min-width: $screen-md-min) {
            -webkit-transition: all 150ms ease-in;
            -webkit-transform: scale(0.99); 
            -ms-transition: all 150ms ease-in;
            -ms-transform: scale(0.99); 
            -moz-transition: all 150ms ease-in;
            -moz-transform: scale(0.99);
            transition: all 150ms ease-in;
            transform: scale(0.99);
            height: 492px;
        }
    }
    @media(min-width: $screen-md-min) {
        .news-top:hover
        {
            z-index: 2;
            -webkit-transition: all 150ms ease-in;
            -webkit-transform: scale(1);
            -ms-transition: all 150ms ease-in;
            -ms-transform: scale(1);   
            -moz-transition: all 150ms ease-in;
            -moz-transform: scale(1);
            transition: all 150ms ease-in;
            transform: scale(1);
        }
    }
    .news-title {
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        width: 75%;
        margin: auto;
        margin-top: 30px;
        line-height: 22px;
        @media(min-width: $screen-md-min) {
            margin-top: 60px;
            font-size: 18px;
            line-height: 28px;
        }
    }
    .news-fulltitle {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        text-align: left;
        width: 87.5%;
        margin: auto;
        margin-top: 30px;
        @media(min-width: $screen-md-min) {
            margin-top: 60px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 300;
        }
    }
    .news-date {
        font-size: 11px;
        font-weight: 200;
        margin: auto;
        margin-top: 20px;
        @media(min-width: $screen-md-min) {
            font-size: 14px;
            margin-top: 40px;
        }
        width: 75%;
        text-align: left;
    }
    .news-fulldate {
        font-size: 11px;
        font-weight: 200;
        margin: auto;
        margin-top: 20px;
        @media(min-width: $screen-md-min) {
            margin-top: 40px;
            font-size: 14px;
        }
        width: 87.5%;
        text-align: left;
    }
    .news-text {
        height: 300px;
        @media(min-width: $screen-md-min) {
            height: 492px;
        }
    }
    .news-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        @media(min-width: $screen-md-min) {
            height: 492px;
        }
    }
}
.topproduct-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media(min-width: $screen-xs-min) {
        max-width: $screen-xs-min;
    }
    @media(min-width: $screen-sm-min) {
        max-width: $screen-sm-min;
    }
    @media(min-width: $screen-md-min) {
        max-width: $screen-md-min;
    }
    @media(min-width: $screen-lg-min) {
        max-width: 1280px;
    }
    overflow: hidden;

    > div {
        padding: 8px;
        overflow: hidden;
    }

    .product {
        overflow: hidden;
        margin: 0px 0px;
    }
    .product-main-image {
        display: block;
        height: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media(min-width: $screen-md-min) {
            height: 440px;
        }
    }
    .product-main-detail {
        background-color: $drncd_color_lightgray1;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 220px;
        overflow: hidden;
        @media(min-width: $screen-md-min) {
            height: 440px;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .product-category {
        display: block;
        padding-bottom: 100%;   // make the category always be 1:1
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .product-category-tag {
        display: none;
        position: absolute;
        z-index: 100;
        height: 100px;
        background-color: rgba(121, 122, 121, 0.75);
        text-align: center;
        line-height: 100px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        left: 8px;
        right: 8px;
        bottom: 8px;
    }
}
