<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="assets/drncd.css" rel="stylesheet" media="screen">
</head>

<body>
    {% include nav.html %}

    <!--Post Header-->
    
    {{ content }}

    {% include footer.html %}

    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>

    {% include nav.js.html %}
    {% include footer.js.html %}

    <script>
        $(document).ready(function(){
            drncdNavBarInitialize();
            drncdFooterInitialize();
        })
    </script>
</body>

</html>