<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{{ page.title }} | {{ site.title }}</title>
    <!-- Bootstrap -->
    <link href="assets/drncd.css" rel="stylesheet" media="screen">
</head>

<body>
<!--     <div class="container-fluid">
 -->    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
<!--     </div>
 -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            drncdNavBarInitialize();
            drncdFooterInitialize();
            if ( pageInitialize !== undefined ) {
                pageInitialize();
            }
        })
    </script>
</body>

</html>